body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #f9fafc;
}
/* HEADER  */

header {
    margin: 25px;
}

a {
    text-decoration: none;
    color:#69696a;
    padding: 0 15px;
}

.logo__small {
    display: inline;
    font-weight: bold;
}

.buttons {
    color: #fff;
	border-radius: 25px;
	background-color:#000000;
	padding: 10px 35px;
}

.nav__bar {
    float: right;
    color: #69696a;
}
 
/* BODY  */

main {
    position: relative;
    top: 50%;
    transform: translateY(15%);
    margin-left: 25px;
    display: inline-block;
}
.section1 {
    float:left;
}
.logo__big {
    font-size: 2em;
    font-weight: bold;
}

p:last-child {
    width: 50%;
    border-left: #69696a solid 3px;
    padding-left: 10px;
}

.section2 {
    float: right;
}
/* CIRCLES  */

.circle1, .circle2, .circle3 {
    border-radius: 50%;
}

.circle1 {
    background-color: rgba(247, 136, 167, 0.6);
    height: 350px;
    width: 350px;
    float: right;
    position: absolute;
    transform: translate(-75%, -50%);
    z-index: 1;
}
.circle2 {
    background-color: rgba(247, 193, 162, 0.7);
    height: 250px;
    width: 250px;
    position: relative;
    transform: translate(-10%, -10%);
    z-index: 3;
}
.circle3 {
    background-color: rgba(207, 130, 213, 0.6);
    height: 175px;
    width: 175px;
    position: relative;
    transform: translate(15%, -230%);
    z-index: 2;
}

/* SCROLL BUTTON  */

#scroll {
    position:absolute;
    bottom:10%;
    left: 45%;
}